*.sw[po]
*.log
*.pid
*.pyc
# Working cruft
twistd.log*
buildbot.tac
changes.pck
state.sqlite
http.log*
# The projects
nipy*/
nibabel*/
dipy*/
nitime*/
nipype*/
numpy-*/
pandas*/
pyarbus*/
pymvpa*/
regreg*/
scipy-*/
seaborn-*/
sklearn*/
statsmodels*/
sympy*/
fail2ban*/
*-master/
# Web directory
public_html/
# Stuff we processed
bblogs/
# Private stuff
bot_htpasswd*
slave_pass.py
secret_passwords.py
nipybuildbot.py
# Other stuff
archives/
buildout-test*/
