*.sw[po]
*.log
*.pid
*.pyc
twistd.log*
nipy*/
nibabel*/
dipy*/
nitime*/
nipype*/
http.log*
archives/
buildout-test*/
public_html/
bot_htpasswd*
buildbot.tac
changes.pck
nipybuildbot.py
slave_pass.py
state.sqlite

# On branch master
#
# Initial commit
#
# Untracked files:
#   (use "git add <file>..." to include in what will be committed)
#
#	.gitignore.swp
#	.master.cfg.swo
#	.master.cfg.swp
#	Makefile.sample
#	buildbot.tac
#	gitpoller-workdir/
#	http.log
#	master.cfg
#	master.cfg.sample
#	nibabel-py2_6/
#	nibabel/
#	public_html/
#	runtests/
#	state.sqlite
#	twistd.log
#	twistd.pid
