*.sw[po]
*.log
*.pid
*.pyc
# Working cruft
twistd.log*
buildbot.tac
changes.pck
state.sqlite
http.log*
# The projects
nipy*/
nibabel*/
dipy*/
nitime*/
nipype*/
sympy*/
regreg*/
fail2ban*/
pyarbus*/
ivanov-pyarbus-master/
pandas*/
pydata-pandas-master/
pyarbus-py2_6
pymvpa*/
PyMVPA-PyMVPA-master/
sklearn*/
scikit-learn-scikit-learn-master/
statsmodels*/
# Web directory
public_html/
# Stuff we processed
bblogs/
# Private stuff
bot_htpasswd*
slave_pass.py
secret_passwords.py
nipybuildbot.py
# Other stuff
archives/
buildout-test*/
